header.navbar.navbar-inverse
	.navbar-inner
		.container
			a.brand(href="/") MegaReminders
			- if (req.isSignedIn)
				ul.nav
					li(class=req.pageName == 'home' ? 'active' : '')
						a(href="/") Home
					li(class=req.pageName == 'accounts' ? 'active' : '')
						a(href="/accounts") Accounts
				ul.nav.pull-right
					li
						a#sign-out(href="/signout") Log Out
			- else
				ul.nav
					li(li(class=req.pageName == 'home' ? 'active' : '')
						a(href="/") Home
				ul.nav.pull-right
					li(class=req.pageName == 'signin' ? 'active' : '')
						a#sign-in(href="/signin") Log In
					li(class=req.pageName == 'signup' ? 'active' : '')
						a#sign-up(href="/signup") Sign Up